<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/additional-methods.min.js"></script>
    
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='mystyle.css') }}">
        <title>RM Survey</title>

        <script>
            function lockedButton(){
                var btnElement = event.target;
                var radios = $(btnElement.parentElement).find(".radioOptions");

                var selectedRadio = $('input[name='+radios[0].name+']:checked');
                if(selectedRadio.length <= 0){
                    alert('Please select a rating for section ' + (parseInt(radios[0].name)+1));
                    return;
                }

                $('input[name=h'+radios[0].name+']').val(selectedRadio.val());

                var paperTitle = $(btnElement.nextElementSibling);
                paperTitle.css("display","block");
                // $(paperTitle.nextElementSibling).prop("disabled",true)
                $(btnElement).prop("disabled","true");
                
                $(btnElement).text("locked");
                
                for(var i = 0 ; i < radios.length ; i++){
                    radios[i].disabled = true;
                }

                $(btnElement).attr("style","background-color:#df6868 !important;margin-left: 4%;color:black !important");
            }
        </script>

    </head>
    <body>
    <div class="ctrlqFormContentWrapper">
        <div class="ctrlqHeaderMast">
            <div style="text-align: center; margin-top: 30px;">
                <img src="{{ url_for('static',filename='logo2.jpg') }}" alt="DA-IICT logo">
            </div>

        </div>
        <div class="ctrlqCenteredContent">
            <div class="ctrlqFormCard">
                <div class="ctrlqAccent"></div>
                <div class="ctrlqFormContent">

                    <form action="{{ url_for('reviewer_matchmaking', author_pk=lst['author_pk']) }}" method='POST'>

                        <div class="row">
                            <div class="input-field col s12">
                                <h4>Reviewer Matchmaking Survey</h4>
                                <p> You'll be shown six sections, each consists of 'keyphrases' for some published paper.
                                    Accounting it, you are supposed to rate the section based on your confidence to review the paper
                                    on a scale of 0-5. <br> You need to finalize the rating by clicking on the "LOCK" button, after which you no longer can change it.
                                    Once you lock the rating, you will be shown the 'title' of the paper corresponding to the 'keyphrases'.
                                    Below it you have to answer whether your confidence changed or not after viewing an additional information such as the paper 'title'. This completes one section.
                                    <br> <p style ="color: #ad0a0a; " >Note: You need to 'LOCK' each section and answer corresopnding 'yes/no' question in order to submit the form.
                                        If you'd like to contribute more, you may fill atmost four more forms again to answer more such sections.</p>
                                    <strong>The meaning of each score is given below:</strong>
                                    <br>0 --> Will pass<br>1 --> Maybe but not keen<br>2 --> Somewhat
                                        confident<br>3 --> Confident<br>4 --> Highly confident</p>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="input-field col s12">
                                <p>Your gender:</p>
                                <input name="gender" type="radio" id="male" value="male" required>
                                <label for='male'>Male</label>
                                <input name="gender" type="radio" id="female" value="female">
                                <label for='female'>Female</label>
                                <input name="gender" type="radio" id="transgender" value="transgender">
                                <label for='transgender'>Transgender</label>
                                <input name="gender" type="radio" id="nopref" value="nopref">
                                <label for='nopref'>Prefer not to say</label>
                            </div>
                        </div> -->

                        <!-- <div class="row">
                            <div class="input-field col s12">
                                <p>Your occupation:</p>
                                <input name="occupation" type="radio" id="ugrad_student" value="ugrad_student" required>
                                <label for="ugrad_student">Undergrad student</label>
                                <input name="occupation" type="radio" id="grad_student" value="grad_student">
                                <label for="grad_student">Grad student</label>
                                <input name="occupation" type="radio" id="teacher" value="teacher">
                                <label for='teacher'>Teacher</label>
                                <input name="occupation" type="radio" id="corporate_professional" value="corporate_professional">
                                <label for='corporate_professional'>Corporate Professional</label>
                                <input name="occupation" type="radio" id="other" value="other">
                                <label for='other'>Other</label>
                            </div>
                        </div> -->

                        {% for i in range(lst['data_length']) %}
                        {% if i==0 %}
                            <hr style="border-top: 5px dashed #8c8b8b;">
                        {% else %}
                            <hr>
                        {% endif %}
                        <div class="row">
                            <div class="input-field col s12">
                                <p for="{{ i }}"><b><i>Paper Keyphrases:</i></b> {{ lst['data'][i][2] }}</p>
                                {% for j in range(5) %}
                                    <input name="{{ i }}" class="radioOptions" type="radio" id="{{ i }}{{ j }}" value="{{ j }}" {{ 'required' if j == 0 else '' }}>
                                    <label for="{{ i }}{{ j }}" style="padding-left : 2.5%;"><b>{{ j }}</b></label>
                                {% endfor %}
                                <input type="hidden" name = "h{{ i }}"></input>
                                <button type="button" style = "margin-left: 4%;" onclick="lockedButton()" class="waves-effect waves-light btn-large" name="Lock" value="{{ i }}">Lock</button>
                                <p class="paperTitle hidden" for="{{ i }}"> <b><i>Paper Title is:</i></b> {{ lst['data'][i][1] }}
                                    <br> Do you still agree with the score you provided?
                                    <input name="a{{ i }}" type="radio" id="ay{{ i }}" value="True" required>
                                    <label for="ay{{ i }}">Yes</label>
                                    <input name="a{{ i }}" type="radio" id="an{{ i }}" value="False" required>
                                    <label for="an{{ i }}">No</label>
                                </p>
                            </div>
                        </div>
                        <br>
                        {% endfor %}
                        <hr style="border-top: 5px dashed #8c8b8b;"><br>

                        <div class="row" style = "padding-left : 25%;" >
                            <div class="col 2" >
                                <button style="background-color:rgb(249, 118, 62);" type="submit" class="waves-effect waves-light btn-large" name="SubmitAndExit" value="SubmitAndExit">Submit and Exit</button>
                            </div>

                            <div class="col 2">
                                <button style="background-color:rgb(27, 166, 226);" type="submit" class="waves-effect waves-light btn-large" name="SubmitAndFillAgain" value="SubmitAndFillAgain">Submit and Fill Another</button>
                            </div>
                        </div>

                    </form>
                    <p style ="color: #0779f3;">If you wish to answer more such forms later, you can again access the survey by selecting your name in the home page. The survey will continue to the next form from where you left.</p><br>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>